In [35]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [36]:
start = [0, 100, 200,300]
financial_data = {
    'symbol':[],
    'name': [],
    'price': [],
    'change': [],
    'per_change': [],
    'volume': [],
    'avg_volume': [],
    'market_cap': [],
    'p_e_ratio': [],
    'year_percent_change': []
}
for i in start:
    URL = f"https://finance.yahoo.com/markets/stocks/most-active/?start={i}&count=100"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}
    
    webpage = requests.get(URL, headers=headers)
    soup = BeautifulSoup(webpage.content, "html.parser")
    
    container = soup.find('tbody', class_="body yf-hhhli1")
    
    
    
    # finding names
    for i in container.find_all('div', {'class': 'yf-362rys'}):
        financial_data['name'].append(i.get_text(strip=True))
        
    # finding prices
    for i in container.find_all('fin-streamer', {'data-field': 'regularMarketPrice'}):
        financial_data['price'].append(float(i.get_text(strip=True)))
        
    for row in container.find_all('tr', class_=['row', 'false', 'yf-hhhli1']):
        components = row.find_all('td', class_='cell tw-h-10 tw-py-0 yf-hhhli1') 
        financial_data['symbol'].append(components[0].get_text(strip=True))
        financial_data['change'].append(components[3].get_text(strip=True))
        financial_data['per_change'].append(components[4].get_text(strip=True))
        financial_data['volume'].append(components[5].get_text(strip=True))
        financial_data['avg_volume'].append(components[6].get_text(strip=True))
        financial_data['market_cap'].append(components[7].get_text(strip=True))
        financial_data['p_e_ratio'].append(components[8].get_text(strip=True))
        financial_data['year_percent_change'].append(components[9].get_text(strip=True))


df = pd.DataFrame(financial_data)
df

,symbol,name,price,change,per_change,volume,avg_volume,market_cap,p_e_ratio,year_percent_change
0,NVDA,NVIDIA Corporation,108.76,+1.78,+1.66%,351.042M,268.911M,2.654T,36.99,19.66%
1,F,Ford Motor Company,9.69,-0.27,-2.71%,209.969M,84.276M,38.406B,6.64,-21.67%
2,TSLA,"Tesla, Inc.",230.58,+8.43,+3.79%,170.042M,88.97M,741.665B,113.59,36.05%
3,NIO,NIO Inc.,5.22,+0.76,+17.04%,161.112M,50.077M,10.238B,-,-11.82%
4,LCID,"Lucid Group, Inc.",2.09,+0.0100,+0.48%,115.116M,93.18M,6.336B,-,-25.36%
...,...,...,...,...,...,...,...,...,...,...
347,CLVT,Clarivate Plc,4.07,-0.2600,-6.00%,5.091M,5.326M,2.815B,-,-42.43%
348,AR,Antero Resources Corporation,35.86,+1.17,+3.37%,5.087M,4.712M,11.159B,199.22,37.61%
349,DXCM,"DexCom, Inc.",70.26,-0.46,-0.65%,6.058M,3.764M,27.456B,49.48,-46.64%
350,COF,Capital One Financial Corporation,165.40,+1.53,+0.93%,5.046M,3.51M,63.072B,14.28,17.63%
351,SO,The Southern Company,90.10,-2.86,-3.08%,6.76M,5.009M,98.822B,22.58,28.82%

In [37]:
df['per_change'] = df['per_change'].str.replace("%", "")

In [41]:
df['p_e_ratio'] = df['p_e_ratio'].replace("-", pd.NA)

In [ ]:
df['year_percent_change'] = df['year_percent_change'].str.replace("%", "")

In [43]:
df['change'] = df['change'].astype(float)

In [54]:
df.dtypes

symbol                  object
name                    object
price                  float64
change                 float64
per_change             float64
volume                  object
avg_volume              object
market_cap              object
p_e_ratio               object
year_percent_change     object
dtype: object

In [48]:
df['per_change'] = df['per_change'].astype(float, errors='ignore')

,symbol,name,price,change,per_change,volume,avg_volume,market_cap,p_e_ratio,year_percent_change
0,NVDA,NVIDIA Corporation,108.76,1.78,1.66,351.042M,268.911M,2.654T,36.99,19.66%
1,F,Ford Motor Company,9.69,-0.27,-2.71,209.969M,84.276M,38.406B,6.64,-21.67%
2,TSLA,"Tesla, Inc.",230.58,8.43,3.79,170.042M,88.97M,741.665B,113.59,36.05%
3,NIO,NIO Inc.,5.22,0.76,17.04,161.112M,50.077M,10.238B,<NA>,-11.82%
4,LCID,"Lucid Group, Inc.",2.09,0.01,0.48,115.116M,93.18M,6.336B,<NA>,-25.36%
...,...,...,...,...,...,...,...,...,...,...
347,CLVT,Clarivate Plc,4.07,-0.26,-6.00,5.091M,5.326M,2.815B,<NA>,-42.43%
348,AR,Antero Resources Corporation,35.86,1.17,3.37,5.087M,4.712M,11.159B,199.22,37.61%
349,DXCM,"DexCom, Inc.",70.26,-0.46,-0.65,6.058M,3.764M,27.456B,49.48,-46.64%
350,COF,Capital One Financial Corporation,165.40,1.53,0.93,5.046M,3.51M,63.072B,14.28,17.63%
351,SO,The Southern Company,90.10,-2.86,-3.08,6.76M,5.009M,98.822B,22.58,28.82%

In [55]:
df['p_e_ratio'] = df['p_e_ratio'].astype(float)

TypeError: float() argument must be a string or a real number, not 'NAType'